<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scuba Diving</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="img/navlogo.jpg" rel="icon">
    <link rel="stylesheet" href="css/style.css">
</head>
<header>
    <nav>
        <div class="logo">
            <a href="/admin.html">
                <div class="navbar-logo">
                    <img src="img/navlogo.jpg" alt="">
                </div>
            </a>
        </div>
    </nav>
</header>
<br>
<body>


</body>
</html>
